# CSE 5243 - Introduction to Data Mining
## Homework 5: Association Analysis
- Semester: Fill in
- Instructor: Fill in
- Section: Fill in days, start time 
- Student Name: John Smith
- Student Email: smith.12345@osu.edu
- Student ID: 123456789

Template Version V1.
***

# Introduction

### Objectives

In this lab, you will use the "AssociationsGroceriesDataV1.xlsx" dataset provided on Carmen to find potential association rules.

The objectives of this assignment are:
- Practice the Association Analysis content we covered this semester.
- Understand “why” the particular topics, techniques, etc., are important from a practical perspective.
- Understand how to choose and use appropriate tools to solve the provided problems.

### The Dataset
- This workbook contains is a market basket dataset containing transactions.
- The data file captures the data in "long format". Specifically, every row corresponds to the transaction id and the item. If the specific transaction id has multiple items, there will be multiple rows in the data.
- You can process the data however you like, but it is recommended you convert into a one-hot-encoded data structure. This will allow you to easily use the mlxtend package.

## The Business Problem
- Assume this dataset contains all of the transactions for one month for our store.  We wish to find association rules that would improve our revenue as follows:
  - We would discount one of our products by 10% each month, with the hope that this would encourage customers to visit our store to purchse that product 5% more frequently, and also purchase  other products (that are not discounted) more frequently.
- Practically speaking, we would like to come up with **two-item** rules (one antecedent and one consequent: (A -> B)) and choose the one that best adds to our revenues  (based on the rule support, confidence, etc.).

### Proper Answers
- To make everyone's lives a little easier, when writing Itemsets and Rules, please list the items in **lexagraphical order**: {A}, {B}, {A,B}, {A,C}, {A,B,C},…, {A,B,C}->{D}, {A,B}->{C,D}
    - If you have trouble doing so, please post to Teams and we will offer suggestions.
- **IMPORTANT:** When answering the numbered questions below, make sure to **label your answer with the question number**.  This will help us give appropriate grades.
  - EXAMPLE: "**Question 2A:** The Total Number of Itemsets is 19"
- **IMPORTANT:** **Show your work** and **explain it**.  This will help us give partial credit in some cases.

### Collaboration
For this assignment, you should work as an individual. You may informally discuss ideas with classmates, but your work should be your own.

### What You Need to Turn In
- Submit this Jupyter Notebook in .IPYNB format.  Do not "zip" the file.

### Notes
- Feel free to use the **mlxtend** package throughout this assignment.
- If a question asks you to "calculate" the number of "all possible rules", etc., explain the calculation by showing the "formula" you used. This will act as "showing your work".
***

***
# Section: 1 - Get Ready
1A) Load the data, and get it ready for association analysis. Do this with convenient python helper methods as appropriate. Feel free to use the tools given in the example we covered. 
- Suggest: Make the data one-hot encoded.
***

In [1]:
#Note: If the mlxtend library is not installed, uncomment the following line (once) and run it.
#!pip install mlxtend
import numpy as np
import pandas as pd
import mlxtend as mlx
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth

In [15]:
#load the dataset
transaction_df = pd.read_excel('AssociationsGroceriesDataV1.xlsx',sheet_name = 'Transactions')
item_df = pd.read_excel('AssociationsGroceriesDataV1.xlsx',sheet_name = 'Items')

In [17]:
#load the dataset
transaction_df = pd.read_excel('AssociationsGroceriesDataV1.xlsx',sheet_name = 'Transactions')
transaction_df

,TxId,ItemId,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1,citrus fruit,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,margarine,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,semi-finished bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
43362,9835,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43363,9835,other vegetables,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43364,9835,shopping bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43365,9835,tropical fruit,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43366,9835,vinegar,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Suggest one-hot encoding of the data...
from mlxtend.preprocessing import TransactionEncoder

te = mlx.preprocessing.TransactionEncoder()

a = [[y for y in x if pd.notna(y)] for x in transaction_df.values.tolist()]
te_array = te.fit(a).transform(a)
ohe_df= pd.DataFrame(te_array, columns=te.columns_)

TypeError: '<' not supported between instances of 'str' and 'int'

In [5]:

item_df

             ItemName  ItemNumber  UnitPrice
0    abrasive cleaner           1      11.58
1    artif. sweetener           2      19.36
2      baby cosmetics           3      12.45
3           baby food           4      16.80
4                bags           5      15.13
..                ...         ...        ...
164       white bread         165       9.69
165        white wine         166       7.28
166        whole milk         167       5.22
167            yogurt         168      16.35
168          zwieback         169       3.37

[169 rows x 3 columns]

***
# Section: 2 - Explore the Data
***

***
## Section: 2.1 - Get the Transaction and Item Sizes
- Calculate the **number_of_transactions** and **number_of_items**.
***

***
## Section: 2.2 - Evaluate the Itemset and Rule Size & Complexity
- Calculate the **maximum number of Itemsets** that could be created from the items (without considering the actual transaction data). Show your work.
- Calculate the **maximum number of Rules** that can be created from the items (without considering the actual transaction data). Show your work.
- What do the calculations suggest as a **potential cause of concern**? Hint: Complexity.
- What might you do to manage these concerns?
***

***
# Section: 3 - Itemset Generation
***

***
## Section: 3.1 - Revise the Dataset
- If/as appropriate, trim or revise the dataset to make the runtime reasonable.
- Show the results, briefly.
- Explain what you did and why you did it.
***

***
## Section: 3.2 - Create Two-Itemsets
- Create a set of 20 two-item sets with highest support. Sort them in decreasing order of support.
- Show the results, briefly.
- Explain what you did and why you did it.
***

***
# Section: 4 - Generate Rules
- For the two-itemsets created above, create the related rules.
***

***
# Section: 5 - Rule Evaluation
- For the rules created above, find the single Item (that would be given the discount) that would cause the greatest increase in monthly store revenue.
  - This is based on the Business Problem stated at the top of this notebook.
  - Consider:
    - How much will the store's monthly revenue decrease (or increase) due to the change in price for the chosen Item (and its increased sales)?
    - How much will the store's monthly revenue increase (or decrease) due to the increased sales of the associated Items?
***

***
# Section: 6 - Conclusions
- Write a paragraph on what you discovered or learned from this homework.
***

***
### END-OF-SUBMISSION
***